# FlowBooks Server Configuration Parameters
PORT=5001
MONGO_URI=mongodb://127.0.0.1:27017/flowbooks
# Template for MongoDB Atlas Cloud Connection:
# MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxxx.mongodb.net/flowbooks?retryWrites=true&w=majority
NODE_ENV=development
