PORT=5000
MONGO_URI=mongodb+srv://crypticaarya_db_user:YOUR_PASSWORD@cluster0.eqa3zb1.mongodb.net/flowbooks?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=flowbooks_super_secret_key
CLIENT_URL=http://localhost:5173
